body{
    background:white;
    padding: 2rem;
    font-family: "Muli", sans-serif;
    size: 20pt; 
    margin-left: 300px;
    margin-right: 300px; 
}

#name{
    text-align: left; 
    height:60px; 
    padding: 0em; 
}


h1{
font-size: 30px; 
text-align: center;
}

img{
    width: auto;
    height: auto;
    align-items: center;
}

h2{
    font-size: 20px;  
}